API_ID=39782277 # get this value from my.telegram.org
API_HASH=c17770cb00d3f63a83ff58028e80cbd4 # get this value from my.telegram.org
BOT_TOKEN=c17770cb00d3f63a83ff58028e80cbd4 # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://rahulparmar735969_db_user:xp6H9DfZJC2bVHON @sasuke.e0cwjde.mongodb.net/?appName=Sasuke # get this value from mongodb.com
LOG_GROUP_ID=-1004388735296 # get this value from in your log group 
MUSIC_BOT_NAME=sneha # your music bot name 
STRING_SESSION=BQJfB4UAiTf-wJdxOFYTd5iPNyaxc3aZO-4L9suhNrV4qBCL2i2O77rPKFGiayGRZksdn8vlhtAOOEqlEx0L2pED-v2B957fHEkZVREN_rrziBG5wE1QuLCHJshCvImYEWXPwVSNebxETgV3H2cwzl0bVR4JfUwQqyGFN9Y9frBMB-80DPkyBvwbcSCBzPxIjrBEvuwESBVLhFv3UnaLNErXzhKfVjEUjrW2FDKbdIkMqXgMEEfsNG_0qjXlJShGUtL8VVv7DIEBFhA6H_8PZh9vi7MQFeFj5RYhxB6tHFxl2xpm2hybZBYy-1L46nzAFYhq0tLoofGvQCbVlOHvt4_q4O8PZQAAAAIJGaMzAA # get this value from @yukkistringbot
